@use '../../styles/variables.scss' as vars;
@use '../../styles/functions.scss' as func;

.NextjsExplorer {
  &__section {
    width: 100%;
    max-width: vars.$layout-max-width;
    margin: 2rem auto 0;
  }

  &__intro {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
  }

  &__badges {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 2rem;
  }

  &__stats {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;

    span {
      display: inline-flex;
      align-items: center;
      gap: 0.25rem;
    }
  }

  &__checkouts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  h2 {
    margin: 0 0 1rem;
    font-size: 1.75rem;
  }

  h3 {
    margin: 1.5rem 0 1rem;
    font-size: 1.25rem;
  }

  ul {
    margin: 1rem 0 2rem;

    li + li {
      margin-top: 0.75rem;
    }
  }

  u {
    text-decoration: none;
    position: relative;
    white-space: nowrap;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: func.color-level(vars.$primary, 6);
      transform: scaleX(1);
      transform-origin: bottom right;
    }
  }
}
