@use '../../styles/variables.scss' as vars;
@use '../../styles/functions.scss' as func;

.Base {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 0 vars.$layout-padding-x;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  &__section {
    margin: auto 0;
  }

  footer {
    position: relative;
    width: 100%;
    max-width: vars.$layout-max-width;
    margin: 4rem auto 0;
    padding: 2rem 0;
    line-height: 1.6;
    font-size: 0.9rem;
    text-align: center;
    opacity: 1;
    border-top: 1px solid var(--primary-opacity-03);
    color: var(--white-opacity-60);

    &::before {
      position: absolute;
      top: -1px;
      left: 50%;
      transform: translateX(-50%);
      content: ' ';
      display: block;
      width: 60px;
      height: 2px;
      background: linear-gradient(
        90deg,
        transparent 0%,
        var(--primary) 50%,
        transparent 100%
      );
    }

    a {
      color: var(--primary);
      text-decoration: none;
      transition: all var(--transition-base);
      font-weight: 500;

      &:hover {
        opacity: 0.7;
        text-decoration: underline;
      }
    }
  }
}
