@use './variables.scss' as vars;
@use 'sass:color';
@use 'sass:math';

// Request a color level

@function color-level($color, $level: 0) {
  $color-base: if($level > 0, vars.$black, vars.$white);
  $level: math.abs($level);

  @return color.mix($color-base, $color, $level * vars.$color-interval);
}
