@use './variables.scss' as vars;
@use 'sass:color';

// Request a color level

@function color-level($color, $level: 0) {
  $color-base: if(sass($level > 0): vars.$black; else: vars.$white);
  $level: abs($level);

  @return color.mix($color-base, $color, $level * vars.$color-interval);
}
