// Greys

$white: #fff;
$gray-200: #e9ecef;
$gray-400: #ced4da;
$gray-600: #6c757d;
$gray-800: #343a40;
$black: #000;

// Colors

$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;

// Theme Colors

$primary: #01df74;
$secondary: #302c33;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-200;
$dark: $gray-800;

// For contrast color function

$yiq-contrasted-threshold: 150;
$yiq-text-dark: $black;
$yiq-text-light: $white;
$color-interval: 8%;

// Borders

$border-width: 1px;
$border-color: $primary;
$border-radius: 0.25rem;
$border-base: $border-width solid $border-color;

// Others

$font-family-consolas: 'Courier New', Courier, monospace;
$font-family-regular: Helvetica, Arial, 'sans-serif';

$font-family: $font-family-consolas;
$transition-base: 0.2s ease-in-out;
$transition-fast-base: 0.1s ease-in-out;
