@use '../../styles/variables.scss' as vars;
@use '../../styles/functions.scss' as func;

.Home {
  &__icon {
    font-size: 1.3rem;
    color: vars.$yellow;
  }

  &__section {
    width: 100%;
    max-width: vars.$layout-max-width;
    margin: 2rem auto 0;
  }
}
