@use '../../styles/variables.scss' as vars;

.Card {
  padding: 1.5rem;
  border-radius: 0.5rem;
  transition: all var(--transition-base);

  &--default {
    background: linear-gradient(
      135deg,
      var(--primary-opacity-04) 0%,
      var(--secondary-opacity-02) 100%
    );
    border-left: 3px solid var(--primary);

    &:hover {
      background: linear-gradient(
        135deg,
        var(--primary-opacity-08) 0%,
        var(--secondary-opacity-04) 100%
      );
    }
  }

  &--highlight {
    background: linear-gradient(
      135deg,
      var(--primary-opacity-10) 0%,
      var(--secondary-opacity-05) 100%
    );
    border: 1px solid var(--primary-opacity-03);
    box-shadow: 0 4px 20px var(--primary-opacity-06);

    &:hover {
      background: linear-gradient(
        135deg,
        var(--primary-opacity-15) 0%,
        var(--secondary-opacity-08) 100%
      );
      box-shadow: 0 6px 30px var(--primary-opacity-10);
    }
  }
}
