@use '../../styles/variables.scss' as vars;
@use '../../styles/functions.scss' as func;

.Headline {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  margin: 2rem -#{vars.$layout-padding-x};
  background: linear-gradient(
      90deg,
      vars.$primary 0%,
      func.color-level(vars.$purple, 9) 100%
    )
    center 3px;
  color: vars.$secondary;
  line-height: 1;

  @media (min-width: 768px) {
    padding: 0.75rem 0;
    background: linear-gradient(
        90deg,
        vars.$secondary 0%,
        func.color-level(vars.$white, 0) 38%,
        func.color-level(vars.$primary, 9) 100%
      )
      center 3px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;
    gap: 0.5rem 1rem;
    width: 100%;
    max-width: vars.$layout-max-width;
    margin: 0 vars.$layout-padding-x;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    h1 {
      font-size: 1.5rem;
      font-weight: bold;
    }

    p {
      font-size: 1rem;
    }

    p:empty {
      display: none;
      visibility: hidden;
    }
  }
}
