@use '../../styles/variables.scss' as vars;
@use '../../styles/functions.scss' as func;

.Link {
  display: inline-flex;
  align-items: center;
  padding: 5px 0;
  border-radius: 1rem;
  text-decoration: none;
  color: func.color-level(vars.$primary, 3);
  transition: all vars.$transition-base;

  &__icon {
    margin-right: 0.5rem;
  }

  &--hover {
    color: func.color-level(vars.$yellow, 3);
    text-decoration: none;
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      bottom: 2px;
      left: 0;
      width: 100%;
      height: 1px;
      background: linear-gradient(
        90deg,
        vars.$primary 0%,
        vars.$yellow 60%,
        transparent 100%
      );
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform vars.$transition-base;
    }

    &:hover {
      &::before,
      &::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }

    &::before {
      top: 0;
      bottom: unset;
      background: linear-gradient(
        90deg,
        transparent 0%,
        vars.$yellow 40%,
        vars.$primary 100%
      );
      transform-origin: bottom left;
    }

    &:hover {
      &::before {
        transform-origin: bottom right;
      }
    }
  }

  &--scale {
    opacity: 0.9;
    transition: all vars.$transition-fast-base;

    &:hover {
      opacity: 1;
      transform: scale(1.2);
    }
  }
}
