@use '../../styles/variables.scss' as vars;
@use '../../styles/functions.scss' as func;

.Link {
  display: inline-flex;
  align-items: center;
  padding: 5px 0;
  text-decoration: none;
  color: var(--white);
  transition: all var(--transition-base);

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    color: var(--secondary);
    background: var(--primary);
    margin-right: 0.5rem;
    transition: all var(--transition-base);
    width: 18px;
    height: 18px;
    min-width: 18px;
    padding: 1px;
  }

  &--hover {
    position: relative;
    text-decoration: none;
    opacity: 0.8;

    &::after {
      content: '';
      position: absolute;
      bottom: 5px;
      left: 0;
      width: 100%;
      height: 1px;
      background: linear-gradient(
        90deg,
        transparent 0%,
        var(--white) 20%,
        var(--white) 80%,
        transparent 100%
      );
      transform: scaleX(0);
      transition: all var(--transition-fast-base);
    }

    &:hover {
      opacity: 1;

      &::after {
        transform: scaleX(1);
      }
    }
  }

  &--scale {
    opacity: 0.7;
    transition: all var(--transition-fast-base);
    color: func.color-level(vars.$primary, 0);

    .Link__icon {
      background: func.color-level(vars.$primary, 0);
    }

    &:hover {
      opacity: 1;

      @media (hover: hover) {
        padding-left: 0.3rem;
      }
    }
  }
}
